binpkgs/*.*
!binpkgs/.keep

binpkgs/old/
!binpkgs/.keep

dist/*.*
!dist/.keep

dist/orig/*.*
!dist/orig/.keep

**/*.md5
**/md5s.manifest
**/md5s.manifest.gz

.vscode

misc/js-benchmarks

misc/**/*.wav
misc/**/*.flac
misc/**/*.mp3
misc/**/*.m4a
misc/**/*.mp4
misc/**/*.mov
misc/**/*.mkv
misc/**/*.avi
misc/**/*.mpg
misc/**/*.mpeg

.wwdc/
.books/
